name: Development - Pull Request
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    name: Linting Checks
    uses: ./.github/workflows/lint.yml
  jest:
    name: Jest Tests
    uses: ./.github/workflows/jest.yml
  playwright:
    name: Playwright Tests
    uses: ./.github/workflows/playwright.yml

  build:
    needs: [lint, jest, playwright]
    name: Build
    runs-on: ubuntu-latest
    environment: Development
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build Docker container
        run: |
          docker buildx build \
            --file=Dockerfile -t myvote .