name: Playwright Tests
on:
  workflow_call:
 
permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "file:dev.sqlite"
      KEYCLOAK_ISSUER: "http://localhost:8080/realms/cs-club"
      KEYCLOAK_CLIENT_ID: "myvote"
      KEYCLOAK_CLIENT_SECRET: "secret"
      NEXTAUTH_URL: "http://localhost:3000"
      AUTH_SECRET: "secret"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install -g pnpm && pnpm install

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: Run Playwright tests
        run: pnpm exec playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
